*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    right: 0%;
    scroll-behavior: smooth;
}
.item1{
    display: flex;
    gap: 15px;
    
}
.item2 li{
    display: flex;
    justify-content: center;
    /* gap:5px; */
    padding-top: 25px;
    margin-left: 5px;
  
}

li a{
    justify-content: center;
    text-decoration: none;
}
.container{
    background-repeat: no-repeat;
    background-size: cover;
}

.container0{
     background-image: url(C:/Users/mdhan/foods/src/image/partake.png);
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
    background-position: center;
    height: 100%;
}
.item3{
padding-top:15%;
/* padding-left:5px; */
}
.item3 h1{
    font-size: 50px;
    /* width: 423px; */
    color:whitesmoke;
    margin-right: 60%;
}
.item3 p{
    /* width: 350px; */
    margin-right: 40%;
    font-size: 1.9rem;
    font-style: italic;
   height: fit-content;
    color: whitesmoke;
}
.item3 button{
    background-color: rgb(239, 156, 126);
border-radius: 40px;
padding-left: 5px;
padding-right: 5px;
color: whitesmoke;
border-color: whitesmoke;
padding: 10px;
margin-right: 65%;
}
.k{
/* gap: 5px; */
}
.s{
    
    font-family:'Times New Roman', Times, serif;
}